---
title: Chris Olstrom @ GitHub
---

<div class="welcome">
  <h1>Chris Olstrom</h1>
  <pre>-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1.4.2.2 (GNU/Linux)

mQGiBESrgS4RBACSXpSoZfKpyBpo6TK9xOvyA6CqlWhIy+A3eQUADZWaK55B1VA6
BeuevMQXl85epgWRY0e16jCALwvNm74EtWV+u5bEENm3kuCm1ywwC0YB3whuAcXa
lQjzGPxwICQsRONrJRZzOf+CvZHDqML4a8aGnaVkBsS2jyyXKTitJ44E8wCg5emz
P3xLYHlG4xnaxUTDlCbAfLkD/1Azl3BKbRZd1bQutHTYw2ddC6fmyAzbh99V4d3H
2bn3aW8nDVl1H1gpgAMbN8qtesJz12/YFMgWnHLW7qvQ/CRcLinqR+f3vm9jD/jR
jW02610aGiM9tWpsou+R3cwyeKjqB0VlpcHCE2LFEy/ATQhJrV+B3UwnViNFbFPg
5HPuA/0dSk9hjciq4UPQjDExCgYmCG+2D4ZcZxUKOE/hwtC7zL04PhTjiMuVE9ke
Mfq2PMulyjER1gGMQhcK9LWO9Q7c3GA31DYIM1Kz2FC/oOs7jo5A9QKai6A83dAQ
NtWJG2bDPOtcr9viEI1oKlIz3jSZqpBKRR3wFduKyo7qLtsRzLQ0Q2hyaXMgT2xz
dHJvbSAoV2hhdFRoZUZvcmsub3JnKSA8Y29sc3Ryb21AZ21haWwuY29tPohgBBMR
AgAgBQJEq4EuAhsDBgsJCAcDAgQVAggDBBYCAwECHgECF4AACgkQCsVdpy8tPmR3
/gCfWfKLfbP+dEGW7nm+XBvFBj55P1EAn32C0yq9NTtX9jjo099JY3WFs6V0uQQN
BESrgYoQEACSR+oiI8Pctc1BZcp1OE5D5ha8WQcuc5ifm/fZZ+uyG8DnUlXkearA
XfQrZ7ZR6rZtDveenOx2PnqUTKEFkVFPvWRlJLGV6SQ6zfUCpSz3nkgZOWZxVMrF
nd/wP4bfPHjN/DdfrnH4HVM3LFJPGjxqRdONFcJ/75zojsA359MviqsdbzrGwV7H
JZUI2xrnPlbn964zmhFJxLye3FWf4KW4mnJwuh149ALNXvl6/nQmycQW6oH5qa0+
wE0xSJrpI2JiOu3V+i8H3JjgtgVgV5q1nZglG36r0rWVq8yGYOAaQzUutQyREzL6
kO1TygvMVaoz0mDL+uxruCzdjHytl0r3s4oL6Noxu826N4DUUUA4S+cAGzreq3oC
Jnkr16zi04XXjggIb0gwYpqXnFqu99Yab57Kwwd4k9BZ4GsMFvXLVK2nFwhoQpOO
AImXK1VZ/kwuDCmtMfj7mL7uDU4cPQedF/XQGZ1ewnw4jNPbey/0tAD2NQXWIgz4
CqRk58yAeyQFRlvAqOPWwr/yQrQnaHkpkldEeqsPdz3PbaUZTMJSJslGZPtEE0ZI
SG5LzTymTgrBVQiGBUGVgcz8p1C0yhfrEHdX/1f4KWFJXzKiV3MoXEmF3L1IvfL+
aLqtoM0Dt2gKhE8YudJmr5apP9w+bqA2F5HogjSEMgAl2VjVZHYjywADBQ/+ISfZ
eZqGE5Zuxe6YjeqyoMoGDpXeWMrHeuuVROgHvCRWKJnvIXP0IkoIn7Uqptu7DJhD
utz7Ix3l6mSAJGPBqNUKK2j+Fi24ZvuW25zvDDrLDBPgRi2zTvl3vqXxvUHMIjdw
g2IF4Ji20uVrsVWivEREnzi1v+x75OqgdgV/6LpOze/j4s4SjYdubmkYFX0oD5kf
klRFcjkiCbsQ3ChRah7ruM0TESODcNNw0imXQVopT06qHS6i9+k7sLLwXPLVj5B5
BZBQBIV0yByepDJyr4fmpOrP3FI6e6pbcYYjuQdXT2r9V9UR0FmJX7eK+t/4FN6T
042KReWa9jivuxGY5HHUkTlNn+ukTD4lS3lzSPjoCRTRhqS+p1XCnOK30EF/odM7
eCK2c5INzFaGD8yGsDoU3nDoK7mjGBX4bUyHhT1fLgN1rQgUgDxAYJ06zJdX0460
kLHT9FZqZn9LRVo2ZfXhSH5M0G2u41F7CvzZnLYqa/NoSR5y7Qfw9sI3EPgjcOf6
7mtWavhk4R2FcXWV3bug2qdgtldSg2MNUMjGNtLf4Gaq6HC1xnwMPZgBmfDf71mH
lwmjUfgCUS6daW/Q12j5oaVOkWCNqmCKJFDm0YQQ4vprkfMkhXhy5s6xB/8btAsH
Wq55Er0CD8IDtT3hJUPiOFCCbQ5v2aaqRwVS5EuISQQYEQIACQUCRKuBigIbDAAK
CRAKxV2nLy0+ZG/GAKDBa6i7SgwGOq/QiTVWiYAv15rkFwCg1FTsbmXfg+5DuGk1
VSVSCPubF98=
=t5gD
-----END PGP PUBLIC KEY BLOCK-----</pre>
  <p class="doc">
    <%= link_to "EZMQ", "https://colstrom.github.io/ezmq/" %> |
    <%= link_to "Forge", "https://github.com/colstrom/forge/" %> |
    <%= link_to "Redislike", "https://github.com/colstrom/redislike/" %> |
    <%= link_to "Small and Crunchy", "https://colstrom.github.io/sac/" %>
  </p>
  <section>
    <h3>Ansible Roles</h3>
    <p class="doc">
      <%= link_to "Ansible", "https://github.com/colstrom/ansible-ansible" %> |
      <%= link_to "apt-repository", "https://github.com/colstrom/ansible-apt-repository" %> |
      <%= link_to "Consul", "https://github.com/colstrom/ansible-consul" %> |
      <%= link_to "Docker", "https://github.com/colstrom/ansible-docker" %> |
      <%= link_to "Drone", "https://github.com/colstrom/ansible-drone" %> |
      <%= link_to "ElasticSearch", "https://github.com/colstrom/ansible-elasticsearch" %> |
      <%= link_to "fish", "https://github.com/colstrom/ansible-fish" %> |
      <%= link_to "fluentd", "https://github.com/colstrom/ansible-fluentd" %> |
      <%= link_to "Go", "https://github.com/colstrom/ansible-go" %> |
      <%= link_to "Grafana", "https://github.com/colstrom/ansible-grafana" %> |
      <%= link_to "InfluxDB", "https://github.com/colstrom/ansible-influxdb" %> |
      <%= link_to "Java", "https://github.com/colstrom/ansible-java" %> |
      <%= link_to "Jenkins", "https://github.com/colstrom/ansible-jenkins" %> |
      <%= link_to "logrotate", "https://github.com/colstrom/ansible-logrotate" %> |
      <%= link_to "LogStash", "https://github.com/colstrom/ansible-logstash" %> |
      <%= link_to "MariaDB", "https://github.com/colstrom/ansible-mariadb" %> |
      <%= link_to "MongoDB", "https://github.com/colstrom/ansible-mongodb" %> |
      <%= link_to "monit", "https://github.com/colstrom/ansible-monit" %> |
      <%= link_to "mosh", "https://github.com/colstrom/ansible-mosh" %> |
      <%= link_to "node.js", "https://github.com/colstrom/ansible-nodejs" %> |
      <%= link_to "OpenSSH", "https://github.com/colstrom/ansible-openssh" %> |
      <%= link_to "PHP", "https://github.com/colstrom/ansible-php" %> |
      <%= link_to "Postgresql", "https://github.com/colstrom/ansible-postgres" %> |
      <%= link_to "Python", "https://github.com/colstrom/ansible-python" %> |
      <%= link_to "Redis", "https://github.com/colstrom/ansible-redis" %> |
      <%= link_to "RioFS", "https://github.com/colstrom/ansible-riofs" %> |
      <%= link_to "Robot Sweatshop", "https://github.com/colstrom/ansible-robot-sweatshop" %> |
      <%= link_to "Ruby", "https://github.com/colstrom/ansible-ruby" %> |
      <%= link_to "S3QL", "https://github.com/colstrom/ansible-s3ql" %> |
      <%= link_to "The Silver Searcher", "https://github.com/colstrom/ansible-silversearcher" %> |
      <%= link_to "Sodium", "https://github.com/colstrom/ansible-sodium" %> |
      <%= link_to "Squid", "https://github.com/colstrom/ansible-squid" %> |
      <%= link_to "statsd", "https://github.com/colstrom/ansible-statsd" %> |
      <%= link_to "Taiga", "https://github.com/colstrom/ansible-taiga" %> |
      <%= link_to "tmate", "https://github.com/colstrom/ansible-tmate" %> |
      <%= link_to "TokuMX", "https://github.com/colstrom/ansible-tokumx" %> |
      <%= link_to "Upstart", "https://github.com/colstrom/ansible-upstart" %> |
      <%= link_to "ZeroMQ", "https://github.com/colstrom/ansible-zeromq" %>
    </p>
  </section>
  <section>
    <h3>Docker Images</h3>
    <p class="doc">
      <%= link_to "MariaDB", "https://github.com/colstrom/docker-mariadb" %> |
      <%= link_to "nginx+naxsi", "https://github.com/colstrom/docker-nginx-naxsi" %> |
      <%= link_to "node.js", "https://github.com/colstrom/docker-node" %> |
      <%= link_to "PHP", "https://github.com/colstrom/docker-php-fpm" %> |
      <%= link_to "Redis", "https://github.com/colstrom/docker-redis" %> |
      <%= link_to "Ruby", "https://github.com/colstrom/docker-ruby" %> |
      <%= link_to "Ubuntu (Core)", "https://github.com/colstrom/docker-ubuntu-core" %> |
      <%= link_to "Ubuntu (Standard)", "https://github.com/colstrom/docker-ubuntu-standard" %>
    </p>
  </section>

  <!-- .doc -->
</div><!-- .welcome -->